@font-face {
  font-family: 'Typewriter';
  src: url('../assets/fonts/Typewriter-Light.ttf');
  src: url('../assets/fonts/Typewriter-Regular.ttf');
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/SourceSansPro-ExtraLight.ttf');
  src: url('../assets/fonts/SourceSansPro-Light.ttf');
  src: url('../assets/fonts/SourceSansPro-LightItalic.ttf');
  src: url('../assets/fonts/SourceSansPro-Regular.ttf');
}

.typewriter {
  font-family: 'Typewriter', serif;
}

.times-new-roman {
  font-family: "Times New Roman", Times, serif;
}

.source-sans-pro {
  font-family: "SourceSansPro", sans-serif;
}
